<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrito de compras</title>
    <link rel="stylesheet" href=" /css/carrito.css">
    <script src="https://kit.fontawesome.com/d6458ce523.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>

    <%- include('../partials/header.ejs') %>

   <main>
        <h1>Carrito de compras</h1>
    <section>
        <article class="article">
            <div class="caja-menu">
                <img src="/images/products/<%= producto.imagen_producto %>" width="125px">  
            </div>
            <div class="caja-menu">
                <h4><%= producto.nombre %></h4>
                <p>$<%= producto.precio %></p>
                <label>cantidad</label>
                <input type="number" name placeholder="1">
            </div>
        </article>    
    </section>

    <section class="seccion-bot-main">
        <div class="formulario">
            <form action="/shipping-calculator" method="POST" class="create-form">       
            <div class="control-form">
                <label>Provincia</label>
                <select name="provincia" class="control">
                    <option value="Jujuy">Jujuy</option>
                    <option value="Salta">Salta</option>
                    <option value="Rio Negro">Rio Negro</option>
                    <option value="Cordoba">Cordoba</option>
                    <option value="Catamarca">Catamarca</option>
                    <option value="Chubut">Chubut</option>
                </select> 
            </div>
            <div class="control-form">
                <label>Ciudad</label>
                <input type="text" name="Ciudad" placeholder="Ciudad" class="control">
            </div>
            <div class="control-form">
                <label>Codigo Postal</label>
                <input type="number" name="CodigoPostal" placeholder="codigo Postal" class="control">
            </div>
            <div class="control-form">
                <button type="submit">Actualizar</button>
            </div>
            </form>
        </div>

        <div class="formulario">
            <div class="create-form">
                <div class="subtotal-carrito">
                    <h5>subtotal del carrito</h5>
                    <p>$ <%= producto.precio %></p>
                </div>
                <div class="subtotal-carrito">
                    <h5>Pedido Total</h5>
                    <p>$ <%= producto.precio %></p>
                </div>
            <div class="caja-boton">
                <button type="submit" class="boton-compra">Finalizar Compra</button>
            </div>
            <div>
                <a href="/">Continuar Comprando</a>
            </div>
            </div>            
        </div>
    </section>
</main> 

<%- include('../partials/footer.ejs') %>

</body>
