<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrito de compras</title>
    <link rel="stylesheet" href=" /css/carrito.css">
    <script src="https://kit.fontawesome.com/d6458ce523.js" crossorigin="anonymous"></script>
</head>
<body>

    <%- include('../partials/header.ejs') %>

   <main>
    <div><h1>Carrito de compras</h1></div>
    <section>
        <article class="conteiner-article">
            <img src="/images/<%= producto.imagen_producto %>" width="100px" class="article-image">  
        <div class="item-conteiner">
            <div class="txt-article">
                <h4><%= producto.nombre %></h4> 
            </div>
            <div class="icon-article">
                <i class="fa-solid fa-trash-can"></i> 
            </div>
            <div class="button-article">
                <input type="number"> 
            </div>
            <div class="price-article">
                <h5>$<%= producto.precio %></h5> 
            </div>
        </div>
        </article>    

    </section>

    <section class="seccion-bot-main">
        <div>
            <h2>shipping Calculator</h2>              
        </div>            
        <div class="formulario">
            <form action="/shipping-calculator" method="POST" class="create-form">       
            <div class="control-form">
                <label>Provincia</label>
                <select name="provincia" class="control">
                    <option value="Jujuy">Jujuy</option>
                    <option value="Salta">Salta</option>
                    <option value="Rio Negro">Rio Negro</option>
                    <option value="Cordoba">Cordoba</option>
                    <option value="Catamarca">Catamarca</option>
                    <option value="Chubut">Chubut</option>
                </select> 
            </div>
            <div class="control-form">
                <label>Ciudad</label>
                <input type="text" name="Ciudad" placeholder="Ciudad" class="control">
            </div>
            <div class="control-form">
                <label>Codigo Postal</label>
                <input type="number" name="CodigoPostal" placeholder="Su codigo Postal" class="control">
            </div>
            <div class="control-form">
                <button type="submit">Actualizar</button>
            </div>
            </form>
        </div>

        <div><h2>Total del carrito</h2></div>
    <div class="formulario">
        <div class="create-form">
            <div class="subtotal-carrito">
                <h5>subtotal del carrito</h5>
                <p>$ <%= producto.precio %></p>
            </div>
            <div class="subtotal-carrito">
                <h5>Pedido Total</h5>
                <p>$ <%= producto.precio %></p>
            </div>
            <div class="caja-boton">
                <button type="submit" class="boton-compra">Finalizar Compra</button>
            </div>
            <div>
                <a href="/">Continuar Comprando</a>
            </div>
        </div>            
    </div>

    </section>
</main> 

<%- include('../partials/footer.ejs') %>

</body>
