<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Producto - Guitarra Modelo 84</title>
    <link rel="stylesheet" href="/css/productDetail.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d6458ce523.js" crossorigin="anonymous"></script>
</head>

<body>

<%- include('../partials/header.ejs') %>

<main>
    <div class="grande">
         <div class="producto-image">
             <img class="img1" src="/images/products/<%= producto.imagen_producto %>">
         </div>
         <!--info1-->
        <article class="cajaInfo">
            <div class="caja1">
                <h1 class="p"><%= producto.nombre %></h1>
                <p class="p" id="descripcion1"><%= producto.descripcion %></p>
                <h3 class="p">Precio: $<%= producto.precio %></h3>
                <h3 class="p"><%= producto.color %> </h3>
                <label for="color" class="p">Seleccione color</label>

                <select name="color" class="p">
                    <% colores.forEach(color => { %>
                     <option value="<% color.nombre %>"
                     ></option>
                    <% }) %>
                </select>
            </div> 

            <div class="desplegable">
                <div class="envio1">
                    <h2 class>Formas de pago</h2>
                    <i class="fa-solid fa-credit-card"></i>
                </div> 
                    <p>Aceptamos pagos en efectivo y con tarjeta de crédito. <br> Hasta 12 cuotas sin interés.</p>
                     <select name="forma" id="forma">
                         <option disabled selected="formas de pago">Formas de Pago</option>
                         <option value="tarjeta de credito">Tarjeta de credito</option>
                         <option value="tarjeta de debito">Tarjeta de debito</option>
                         <option value="efectivo">Efectivo</option>
                         <option value="billetera virtual">Billetera virtual</option>
                     </select>
            </div>

            <div class="envio">
                <div class="envio1">
                    <h2>Envío a Todo el País</h2>
                    <i class="fa-solid fa-truck"></i>
                </div>
                     <p>Realizamos envíos a todas las provincias de Argentina.</p>
            </div>
                 
            <div class="cantidad">
                <h2>Cantidad:</h2>
                <input id="forma" type="number" value="1" min="1" max="10">
            </div>
            
            <div class="botones">
                <form action="/productos/carrito/<%= producto.id %>" method="get" class="añadir">
                    <button type="submit">COMPRAR AHORA</button>
                </form>

                <a href="/productos/edition/<%= producto.id %>" class="añadir">EDITAR PRODUCTO</a>
                <form action="/productos/delete/<%= producto.id %>?_method=DELETE" method="POST" style="display: inline-flex" class="añadir">
                    <button type="submit">ELIMINAR PRODUCTO</button>
                </form>
            </div>                
        </article>
    </div>

    
     <!--Informacion-->
    <div class="informacion">
     <h4>Informacion del producto</h4>
     <p class="infor"><%= producto.descripcion %></p>
     </div>

 </main> 
 
<%- include('../partials/footer.ejs') %>  


</body>

