<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catarsis Melody</title>
    <link href="/css/index.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d6458ce523.js" crossorigin="anonymous"></script>
</head>

<body>
  
<%- include('../partials/header.ejs') %>

<main>
    <h2>BUSCAR POR CATEGORIAS</h2>

    <section class="destacados">
        <% product.forEach(product => { %>
            <article>
                <a href="/products/detalle/<%= product.id %>">
                    <img src="/images/<%= product.image %>" class="image-destacado">
                </a>
                    <p><%= product.name %></p>
                    <p>$ <%= product.price %></p>                
            </article>
        <% }) %>
         </section>   

                
    <h2>DESTACADOS</h2>   
    
    <section>
        <% for( let i = 0; i <= 5; i++ ) { %>
            <article>
                <img src="/images/<%= product[i].image%>" class="image-destacado">
                <p><%= product[i].name%></p>
                <p>$ <%= product[i].price %></p>                
            </article>
        <% } %>
    </section>

</main>  

<%- include('../partials/footer.ejs') %>

</body>
