<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catarsis Melody</title>
    <link href="/css/index.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d6458ce523.js" crossorigin="anonymous"></script>
</head>

<body>

    <%- include('../partials/header.ejs') %>   

<main>
    <h2>Productos</h2>

    <section class="destacados">
        <% productos.forEach(productos => { %>
            <article>
                <a href="/productos/detalle/<%= productos.id %>">
                    <img src="/images/products/<%= productos.imagen_producto %>" class="image-destacado">
                </a>
                <div class="article-p">
                    <p id="nombre"><%= productos.nombre %></p>
                    <p id="precio">$ <%= productos.precio %></p>   
                </div>
             
            </article>
        <% }) %>
         </section>   

                
    <h2>DESTACADOS</h2>   
    
</main>  

<%- include('../partials/footer.ejs') %>

</body>
