<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productEdition</title>
    <link rel="stylesheet" href="/css/create.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d6458ce523.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>

    <%- include('../partials/header.ejs') %>

    <main>
        <div class="formulario">
            <h1 class>Editar producto</h1>
            <form action="/productos/edition/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class>
                    <label for="nombre">Nuevo nombre del producto:</label>
                    <input 
                        class="item-form" 
                        type="text" 
                        name="nombre" value="<%= producto.nombre %>">
                </div class>
    
                <div class>
                    <label for="categoria_id">Categoría:</label>
                    <br>
                    <select class="item-form"  name="categoria_id">
                      <option value="">Seleccionar categoria</option>  
                      <% categorias.forEach(categoria => { %>
                        <option 
                        value="<%= categoria.id %>"
                        <% if (categoria.id == producto.categoria_id) { %>
                            selected
                        <% } %>
                        >
                            <%= categoria.nombre %>

                        </option>
                      <% }); %>
                    </select>
                  </div>



                <div class>
                    <label for="colors">Nuevos Colores:</label>
                    <input 
                        class="item-form" 
                        type="text" 
                        value="<%= producto.color %>" 
                        name="colors">
                </div>

                <div class>
                    <label for="price">Precio:</label>
                    <br>
                    <input 
                        class="item-form" 
                        type="number"  
                        name="price" 
                        value="<%= producto.precio %>">
                </div>

                <div class>
                    <label for="image">Nuevas Imagenes:</label>
                    <input 
                        class="item-form" 
                        type="file" 
                        name="image" 
                        value="<%= producto.imagen_producto %>">
                </div>

                <div class>
                    <label for="descripcion">Nueva Descripción:</label>
                    <br>
                    <textarea 
                        id="descripcion" 
                        name="descripcion"><%= producto.descripcion %></textarea>
                </div>
    
                <button 
                    type="submit" 
                    value="guardar">Guardar
                </button>

            </form>
        </div>
    </main>

    <%- include('../partials/footer') %>


</body>
</html>