<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>login</title>
  <link rel="stylesheet" href="/css/login.css">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d6458ce523.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/normalize.css">
</head>

<body>

    <%- include('../partials/header.ejs') %>

    <main>
        <section class="form-login">

            <ul class="errores">
            </ul>
            <form action="/usuariosDB/login/" method="POST" class="form">
                
                <div>
                    <label for="correo"></label>
                    <input 
                        class="controls" 
                        type="email" 
                        name="correo" 
                        id="correo" 
                        placeholder="Ingrese su correo " required
                        value="<%=locals.oldData ? oldData.correo : null %>">

                        <% if (locals.errors && errors.correo) { %>
                            <div class="text-danger">
                               <p><%= errors.correo.msg %></p> 
                            </div>
                            <% } %>
                </div>

                <div>
                    <label for="contrasenia"></label>
                    <input 
                        class="controls" 
                        type="password" 
                        name="contrasenia" 
                        id="contrasenia" 
                        placeholder="Ingrese su Contraseña"
                        value="<%=locals.oldData ? oldData.contrasenia : null %>">
                        <% if (locals.errors && errors.contrasenia) { %>
                            <div>
                               <p><%= errors.contrasenia.msg %></p> 
                            </div>
                            <% } %>                    
                </div>    

                <label for="recordame"></label>
                <input 
                    type="checkbox" 
                    name="recordame"> recordar usuario
                <br>
                <button               
                    class="botons" 
                    type="submit" 
                    value="">
                    Log In
                </button> 

            </form>
        </section>        
    </main>

    <%- include('../partials/footer.ejs') %>

    <script src="/js/loginFront.js"></script>

</body>

